# node_modules
node_modules/

# Ambiente
.env
.env.* # se você usar .env.dev, .env.prod etc.

# Prisma
/prisma/dev.db
/prisma/dev.db-journal
/prisma/migrations/
*.sqlite

# Build
/dist
/build

# Prisma gerado (caso você configure path customizado)
/src/generated/
/src/generated/prisma/

# TSOA
src/routes/routes.ts
src/docs/swagger.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e SO
.vscode/
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Docker
*.pid
